.list-unstyled{
    text-align: left;
}
a:link { text-decoration: none; }

.text-uppercase
{
    text-align: left;
}

.clife{
    text-decoration: underline !important;

}

.bg-dark {
    position:auto;
    bottom:0;
    width:100%;
}
