table {
    margin-top: 1cm;
    width: 100%;
  }

  .mat-paginator{
      width: 100%;
  }

  .mat-elevation-z8{
      width: 95%;
      margin-left: 1cm !important;
  }
  
  td, th {
    width: 10%;
  }

.mat-header-cell{
  background-color: #263238;
  color: white;
}