<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Password Recovery</h3>
            </div>
            <div class="card-body" id="forgotPassCard">
                <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input formControlName="Email" class="form-control" placeholder="john@techhowdy.com" />
                        <label class="text-danger" *ngIf="insertForm.get('Email')!.touched && insertForm.get('Email')!.errors?.['email']" class="errorMessage">
                            Invalid email address</label>
                    </div>
                <br>
                <div class="reset">
                    <button mat-raised-button type="submit">Reset Password</button>
                </div>
            </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">Don't have an account?<a [routerLink]="['/user/registration']">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
