.mat-dialog-title{
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.close{
    background-color: #263238;
    color: white;
}

.label{
    font-size: 1px;
}

.date{
    margin-top: 1cm !important;
    margin-left: 1cm !important;
}

.text-center{
    margin-left: 1cm !important;
    width: 95%
}