.row{
    margin-left: 1cm;
}
.mat-form-field{
    width: 11cm !important;
}

.mat-dialog-title{
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    margin-top: 1cm;
}

.heading{
    margin-left: 1.2cm;
    font-size: 15px;
    font-weight: 900;

}

.close{
    background-color: #263238;
    color: white;
    margin-left: 1.2cm;
    margin-bottom: 1cm;
}