.row{
    margin-left: 1cm;
}
.mat-form-field{
    width: 7cm !important;
}

.mat-dialog-title{
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.close{
    background-color: #263238;
    color: white;
}

.label{
    font-size: 1px;
}