::ng-deep .my-custom-panel {
    width: 40%;
    height: fit-content;
    overflow: auto;
  
  
  @media screen and (max-width: 660px){
      width: 100%;
    }
  }

::ng-deep .report-panel{
  width: 80%;
  height: fit-content;
  overflow-y: auto;


@media screen and (max-width: 660px){
    width: 100%;
  }
}

  table {
      width: 100%;
    }
    
    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 10%;
    }
  
  .mat-header-cell{
    background-color: #263238;
    color: white;
  }

.heading
{
    text-align: center;
}

.mat-raised-button
{
  background-color: #263238;
  color: white;
  margin-left: 0.3cm;
}