.mat-dialog-title{
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    margin-top: 1cm;
}

.mat-raised-button
{
  background-color: #263238;
  color: white;
  margin-left: 0.3cm;
  height: 1.3cm;
  width: 3cm;
}